asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Django==5.1
django-cors-headers==4.4.0
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-vectortiles==0.2.0
django-vite==3.0.4
djangorestframework==3.15.2
gunicorn==23.0.0
idna==3.7
mercantile==1.2.1
numpy==2.1.0
packaging==24.1
psycopg2-binary==2.9.9
pyproj==3.6.1
pyshp==2.3.1
requests==2.32.3
shapely==2.0.6
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.2.2
whitenoise==6.7.0